page-home {

.scroll-content{
    background-color:#19AD48;
}
.logo{
    width: 30%;
    margin-left: 40%;
}
.daeri{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20%;
    left: 10%;

}
.call{
    margin-top:20%;
    position: relative;
}
.maindiv{
    position: relative;
    left: 0;
}
}
